@page
@model RazorPageFormApp.Pages.GreetingModel
@{
}

<h1>Greeting Page !</h1>


<form method="post">
    <input type="text" value="@Model.UserName" />
     @Html.AntiForgeryToken()
    <input type="submit" value="Greet" />
</form>

 <h1>@Model.Message</h1>