@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<h1>Index view of HOme contorller</h1>

<label for="firstName">First Name</label>
<input type="text" id="firstName" name="firstName"/>
<br/>
<label for="lastName">Last name</label>
<input type="text" id="lastName" name="lastName" />


@Html.ActionLink("About us","About","Customer")

<greet dev-name="Govinda"></greet>

