@model List<Organization>

<h1>Displaying all organization data</h1>


<table>

    @foreach(var org in Model) {
     <tr>
         <td>@org.Id</td>
        <td>@org.Name</td>
     </tr>
    }

</table>

