@model EmployeeAddVM
<html>
<head>
    <title>@Model.AddTitle</title>
</head>

<body>
    <h1>@Model.AddHeading</h1>
    <form asp-action="Add" asp-controller="Employee">
        <p>
            <label asp-for=Id></label>
            <input asp-for="Id" />
            <span asp-validation-for="Id"></span>
        </p>
        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="IsActive"></label>
            <input asp-for="IsActive" />

        </p>
        <input type="submit" value="Add" />
    </form>

</body>

