@page

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/main.min.css">
<body>

	<h1>Hello World</h1>

	@for (int i = 1; i <= 5; i++)
	{
		<p>This is a page with SCSS minfied.</p>
		<div>hello I am div</div>
	}

</body>
</html>    